/*RESET*/

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**COLORS**/
:root {
  --dark-blue: #132235;
  --booton-blue: #00587a;
  --turquoise: #6ddad3;
  --active-color: #cefd75;
  --white: #ffffff;
  --shadow: #333;
}
/*RESET REMS*/
html {
  font-size: 62.5%; /* 1 REM = 10px*/
}

body {
  font-family: "Lato", sans-serif;
  line-height: 2;
  height: 100vh;
}

/**GLOBAL**/

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3,
h4 {
  font-size: 2.6rem;
}
p {
  font-size: 1.7rem;
}
/**UTILIDADES**/
.centrar-texto {
  text-align: center;
}
.fw-300 {
  font-weight: 300;
}
.linea-media::after {
  content: "";
  display: block;
  width: 50rem;
  height: 0.3rem;
  background-color: var(--turquoise);
  margin-top: 1rem;
  margin: auto;
}
.linea-corta::after {
  content: "";
  display: block;
  width: 30rem;
  height: 0.2rem;
  background-color: var(--turquoise);
  margin-top: 1rem;
  margin: auto;
}

.contenedor {
  max-width: 80%;
  margin: auto;
}
.margin-section {
  margin-top: 10rem;
}
.margin-section-bottom {
  margin-bottom: 10rem;
}
.margin-top5 {
  margin: 5rem auto 5rem auto;
}
.margen-contact {
  margin-bottom: 4.8rem;
}

.boton {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
}
.boton-color1 {
  background-color: var(--booton-blue);
}

/**HEADER**/

/**NAVBAR**/
.bg-light {
  background-color: var(--dark-blue) !important;
}
.logo-header {
  padding: 1.5rem;
  align-items: center;
}

.nav-link {
  font-size: 1.8rem !important;
  color: var(--white) !important;
  text-decoration: none;
  font-weight: 300;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.nav-link:hover {
  color: var(--turquoise) !important;
}

.nav-flex {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
}

/**SECCION SOBRE NOSOTROS MAIN**/

.icon-nosotros {
  display: flex;
  justify-content: space-between;
}
.icon {
  flex-basis: calc(33.3% -1rem);
  text-align: center;
  font-weight: 700;
}

.icon i {
  font-size: 5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/**Trabajos**/
.imagen-trabajos {
  background-image: url(../img/hogar-3.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  background-attachment: fixed;
  align-items: center;
}
.contenido-trabajos {
  flex: 1;
}
.contenido-trabajos h3 {
  color: var(--white);
}
.contenido-trabajos p {
  color: var(--white);
  font-size: 1.8rem;
}
.transition-3s {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contenido-trabajos a:hover {
  color: var(--turquoise);
  background-color: var(--dark-blue);
}

.card-header h4 {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin-top: 5px;
}

.card {
  border-radius: 8px !important;
}

.card-body p {
  font-size: 15px !important;
  font-weight: 200;
  font-family: "Lato", sans-serif;
}

.card-body label {
  font-size: 15px;
  font-weight: 200;
  font-family: "Lato", sans-serif;
}

.card-body div {
  margin-bottom: 8px;
}

.boton-contacto {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 15px;
  width: 300px;
  padding: 5px;
  border: none;
  margin-top: 0.5em;
}

.boton-contacto:hover {
  color: var(--turquoise);
  background-color: var(--dark-blue);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
input {
  font-size: 13px !important;
}

textarea {
  font-size: 13px !important;
}

/*
HERO SECTION
*/
.bg-hero {
  width: 100%;
  height: 600px;
  background-image: -moz-linear-gradient(top, #132235, rgba(255, 252, 179, 0)),
    url("/img/hero.jpeg");
  background-image: -o-linear-gradient(top, #132235, rgba(255, 252, 179, 0)),
    url("/img/hero.jpeg");
  background-image: -webkit-linear-gradient(
      top,
      #132235,
      rgba(255, 252, 179, 0)
    ),
    url("/img/hero.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-hero a:hover {
  color: var(--turquoise);
  background-color: var(--dark-blue);
}

.bg-hero h1 {
  color: var(--white);
  text-shadow: 3px 3px 3px var(--shadow);
  text-align: center;
  font-size: 5em;
}

.bg-hero h4 {
  color: white;
  text-shadow: 2px 2px 2px var(--shadow);
  text-align: center;
  font-size: 2em;
  font-family: "Work Sans", sans-serif;
}

.bg-hero .boton {
  font-family: "Work Sans", sans-serif;
}
/**SECCION LINEAS PERFILES**/
.perfileria {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
}

.perfileria p {
  /*width: 40%;*/
  margin-top: 2rem;
}

.perfileria img {
  max-width: fit-content;
}
/**FOOTER**/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background-footer {
  background-color: var(--dark-blue);
}

.fab {
  color: var(--booton-blue);
  font-size: 4rem;
  margin: 2rem;
}
.fab:hover {
  color: var(--turquoise);
}
.navegador-footer {
  display: flex;
  flex-direction: row;
}
.navegador-footer a {
  margin-right: 1.5rem;
}
.navegador-footer a:last-of-type {
  margin-right: 0;
}
.logo-footer {
  display: block;
  justify-content: center;
}

/** SOBRE NOSOTROS **/

.nosotros-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.nosotros-content img {
  align-items: center;
}

.parrafo-descripcion {
  margin: 1rem auto;
  width: 70%;
}

/**OBRAS**/

.section-obras {
  display: flex;
  justify-content: space-between;
}
.section-obras img {
  width: 45rem;
}


/**SERVICIOS**/

.cards-servicio {
  width: 1300px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.card-servicio {
  width: 40rem;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.card-servicio:hover{
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}
.boton-servicio:hover {
  color: var(--turquoise);
  background-color: var(--dark-blue);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card-servicio h4 {
  font-weight: 600;
  margin: 2rem;
  
}
.card-servicio p {
  font-size: 1.5rem;
}
.iconos-servicio {
  display: flex;
  justify-content: center;
}
.icon-servicio {
  font-size: 8rem;
  color: var(--dark-blue);
}
.icon-service {
  text-align: center;

}
.icon-service h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2.2rem;
  color: var(--dark-blue);
}








/**MEDIA QUERY**/

@media (max-width: 600px) {
  /*linea movile*/
  .linea-media::after {
    width: 100%;
  }
}
